In [ ]:
from datetime import datetime, timedelta
import pandas_datareader as pdr
from finta import TA
import pandas as pd


class EquityData:

    def __init__(self):

        self.start_date = datetime.now().date() - timedelta(days=20)
        self.end_date = datetime.now().date()
        self.ticker_list = ['AAPL', 'TSLA']
        self.indicator_list = ['SMA', 'EMA']
        self.df = pd.DataFrame([])
        self.get_eod_data(self)

    @staticmethod
    def get_eod_data(self):

        """
        Get EOD data for a list of tickers
        """
        eod_df = pd.DataFrame([])

        for t in self.ticker_list:
            results = pdr.DataReader(t, 'yahoo', self.start_date, self.end_date)
            results['ticker'] = t
            eod_df = eod_df.append(results)

        # Calc the list of indicators for each set of EOD data
        eod_df = eod_df.groupby(['ticker']).apply(
                            lambda x: self.compute_analytics(x, self.indicator_list)).reset_index()

        eod_df = self.clean_data(eod_df)
        self.df = eod_df

    @staticmethod
    def compute_analytics(df, indicators):

        """
        Get calculations for each ticker in the df
        """

        for indicator in indicators:
            # Using eval so we can iterate over a list of indicators
            data = eval('TA.' + indicator + '(df)')

            # TA returns a set -> so we convert that to a data frame
            data = data.to_frame()

            # The columns names are too long so I split the string
            # and join that with the indicator name for my indicator column name
            first_string = data.columns[0].split()[0]
            data = data.rename(columns={data.columns[0]: first_string})
            data = data.add_prefix(indicator + '_')

            # Merge data frames based on the date
            df = df.merge(data, left_index=True, right_index=True)

        return df

    @staticmethod
    def clean_data(df):

        # Update the column names to follow PEP8
        df = df.rename(columns={'Date': 'date', 'High': 'high', 'Low': 'low', 'Open': 'open',
                                'Close': 'close', 'Volume': 'vol', 'Adj Close': 'adj_close',
                                'SMA_41': 'sma_41', 'EMA_9': 'ema_9'})
        return df

In [2]:
obj = EquityData()
print(obj.df)

         date        high         low        open       close          vol  \
0  2020-10-28  115.430000  111.099998  115.050003  111.199997  143937800.0
1  2020-10-28  418.600006  406.000000  416.480011  406.019989   25451400.0
2  2020-10-29  116.930000  112.199997  112.370003  115.320000  146129200.0
3  2020-10-29  418.059998  406.459991  409.959991  410.829987   22655300.0
4  2020-10-30  111.989998  107.720001  111.059998  108.860001  190272600.0
5  2020-10-30  407.589996  379.109985  406.899994  388.040009   42511300.0
6  2020-11-02  110.680000  107.320000  109.110001  108.769997  122866900.0
7  2020-11-02  406.980011  392.299988  394.000000  400.510010   29021100.0
8  2020-11-03  111.489998  108.730003  109.660004  110.440002  107624400.0
9  2020-11-03  427.769989  406.690002  409.730011  423.899994   34351700.0
10 2020-11-04  115.589996  112.349998  114.139999  114.949997  138235500.0
11 2020-11-04  435.399994  417.100006  430.619995  420.980011   32143100.0
12 2020-11-05  119.620003  116.870003  117.949997  119.029999  126387100.0
13 2020-11-05  440.000000  424.000000  428.299988  438.089996   28414500.0
14 2020-11-06  119.199997  116.129997  118.320000  118.690002  114457900.0
15 2020-11-06  436.570007  424.279999  436.100006  429.950012   21706000.0
16 2020-11-09  121.989998  116.050003  120.500000  116.320000  154515300.0
17 2020-11-09  452.500000  421.000000  439.500000  421.260010   34833000.0
18 2020-11-10  117.589996  114.129997  115.550003  115.970001  138023400.0
19 2020-11-10  420.089996  396.029999  420.089996  410.359985   30284200.0
20 2020-11-11  119.629997  116.440002  117.190002  119.489998  112295000.0
21 2020-11-11  418.700012  410.579987  416.450012  417.130005   17357700.0
22 2020-11-12  120.529999  118.570000  119.620003  119.209999  103162300.0
23 2020-11-12  423.000000  409.519989  415.049988  411.760010   19855100.0
24 2020-11-13  119.669998  117.870003  119.440002  119.260002   81581900.0
25 2020-11-13  412.529999  401.660004  410.850006  408.500000   19771100.0
26 2020-11-16  120.989998  118.150002  118.919998  120.300003   91183000.0
27 2020-11-16  412.450012  404.089996  408.929993  408.089996   26838600.0
28 2020-11-17  120.669998  118.959999  119.550003  119.389999   74060500.0
29 2020-11-17  462.000000  433.010010  460.170013  441.609985   61014500.0

     adj_close ticker  sma_41       ema_9
0   111.008476   AAPL     NaN  111.199997
1   406.019989   TSLA     NaN  406.019989
2   115.121384   AAPL     NaN  113.488887
3   410.829987   TSLA     NaN  408.692210
4   108.672516   AAPL     NaN  111.591803
5   388.040009   TSLA     NaN  400.228193
6   108.582664   AAPL     NaN  110.635906
7   400.510010   TSLA     NaN  400.323659
8   110.249794   AAPL     NaN  110.577629
9   423.899994   TSLA     NaN  407.337086
10  114.752022   AAPL     NaN  111.762784
11  420.980011   TSLA     NaN  411.035077
12  118.824997   AAPL     NaN  113.601922
13  438.089996   TSLA     NaN  417.881955
14  118.690002   AAPL     NaN  114.824684
15  429.950012   TSLA     NaN  420.782136
16  116.320000   AAPL     NaN  115.170109
17  421.260010   TSLA     NaN  420.892528
18  115.970001   AAPL     NaN  115.349331
19  410.359985   TSLA     NaN  418.532627
20  119.489998   AAPL     NaN  116.255285
21  417.130005   TSLA     NaN  418.225741
22  119.209999   AAPL     NaN  116.889834
23  411.760010   TSLA     NaN  416.837173
24  119.260002   AAPL     NaN  117.391444
25  408.500000   TSLA     NaN  415.072738
26  120.300003   AAPL     NaN  117.999917
27  408.089996   TSLA     NaN  413.611943
28  119.389999   AAPL     NaN  118.288072
29  441.609985   TSLA     NaN  419.415755